body {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin: 0;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
}
.flexible_container {
    display: flex;
}

.half_width img {
    width: 40%;
}
.half_width {
    width: 50%;
    padding: 10px;
}
.orange_color {
    color: orange;
    
}
.link_btn {
   background-image: linear-gradient(red, rgb(230, 37, 37));
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
}
.top_section {
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
.dream_big {
   
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience_area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left ;
    margin-bottom: 50px;
}
.experience_item {
    
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 40px;
    padding-bottom: 10px;
   
    border-radius: 10px;    
}
#full_stack_developer {
    border-left: 7px solid tomato;
}
#baby_web_developer {
    border-left: 7px solid blue;
}
footer p {
    text-align: center;
}